@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    background-image: url(../images//saturn_1080x1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 4px;
    text-align: center;
}

p {
    font-weight: 500;
}

.inputy {
    background-color: rgba(127, 157, 255, 0.153);
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
}

.inputy:focus {
    border: 1px solid white;
}

#search {
    color: white;
    background-image:linear-gradient(to right, rgba(255, 0, 0, 0.315), rgba(255, 255, 0, 0.336), rgba(0, 0, 255, 0.274));
    margin-top: 10px;
    border-radius: 5px;
}
